
.tabsNamed{
    padding-left: 40px
}   
.tabsContainer{
    width: 400px
}

@media(max-width: 840px){
  .logoNamed {
    display: none
  }
  .tabsNamed{
    display: none
  }
  .tabsContainer{
      display:  none
  }
  .log{
    display: none
  }
}

